@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}

.border-button {
  position: relative;
  padding: 1.5px; /* Zorg ervoor dat de padding op het parent element wordt toegepast */
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.border-button::after,
.border-button::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  top: -1.5px; /* Compenseer de padding */
  left: -1.5px; /* Compenseer de padding */
  right: -1.5px; /* Compenseer de padding */
  bottom: -1.5px; /* Compenseer de padding */
  background-image: conic-gradient(
    from var(--angle),
    #18caa1,
    #ff4545,
    #00ff99,
    #006aff,
    #ff0095,
    #18caa1
  );
  z-index: -1;
  border-radius: 12px; /* Zorg ervoor dat de border-radius consistent is */
  animation: 3s spin linear infinite;
}

.border-button::before {
  filter: blur(20px);
  opacity: 0.3;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 350deg;
  }
}

/* Shimmer effect voor afbeelding op mobiel */

.shimmer-img {
  position: relative;
  overflow: hidden;
}
.shimmer-img__overlay {
  position: absolute;
  inset: 0;
  z-index: 30;
  pointer-events: none;
  border-radius: 1.5rem; /* match rounded-3xl */
  background: linear-gradient(
    120deg,
    transparent 30%,
    rgba(255, 255, 255, 0.5) 50%,
    transparent 70%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  animation: shimmer-img-move 2s infinite;
  opacity: 1;
}
@keyframes shimmer-img-move {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
